*{
    margin: 0px;
    padding: 0px;
    font-family: arial;
    font-size: 16px;
    box-sizing: border-box;
}
body{
    background: #ededed;
}
h1{
    font-size: 2rem;
}
.enviar-derecha{
    margin-left: auto;
}
#navegador{
    background-color: #3b3b3b;
    color: #ffffff;
    padding-top: 20PX;
    padding-bottom: 20PX;
}
nav{
    max-width: 1100px;
    margin: auto;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    background: #7e7e7e;
    padding: 5px;
    height: 20px;
    list-style: none;
    margin-right: 10px;
    border-radius: 2px;
}
nav li:hover{
    background: #c9c9c9;
    cursor: pointer;
}

#contenedor{
    background: #ffffff;
    max-width: 1100px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
}

#contenedor #contenedorInterno{
    flex-grow: 1;
    padding: 10px;
}
#contenedor aside{
    width: 300px;
    background: #aeaeae;
    padding: 10px;
}
.articuloRelacionado{
    width: 280px;
    background: #3cb2c8;
    margin: auto;
    margin-bottom: 5px;
    padding: 6px;
    color: #ffffff;
    transition: all .2s;
}
.articuloRelacionado:hover{
    transform: scale(1.04);
    box-shadow: 0px 0px 5px 0px #777;
}
.categoria {
    display: flex;
    background: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1.5px #e9c5d9;
} 
.navpost{
    display: flex;
    text-align: center;
    margin-top: 20px;
    border-top: solid 2px #e9c5d9;

}
.navpost div{
    flex-grow: 1;
    padding: 10px;
}
section#footer{
    background-color: #534f4f;
    color: #e71515;
    
}
footer{
    display: flex;
    max-width: 1100px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    justify-content: space-between;
}
@media(max-width: 768px){
#contenedor{
        flex-direction: column;
        margin-bottom: 0px;
     }
#contenedor aside{
        width: 100%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        background: #3cb2cb;
     }
.articuloRelacionado{
        width: 100%;
     }
nav, footer{
        max-width: 95%;
     }
}
nav li.menu{
        padding-bottom: 25px;
}

@media(max-width: 380px){
    ul{
        max-width: 95%;
        flex-wrap: wrap-reverse;
    }
.logo {
    margin: auto;
    margin-bottom: 10px;
      }
nav li.menu {
    margin-left: 24px;
      }   
}
footer{
    padding-bottom: 0px;
    flex-direction: column;
    text-align: center;
    background: #414141;
    padding-bottom: 10px;
}